# IDE Folders
.idea
.vscode

# GIT Projects
Fetch-Spotlight
w-adb
Helmcharts
Flutter-Apps
my-py-modules
Android-Backup-Tool
Insta-Automate (main)
Insta-Automate
mStorage

# Python ignore
__pycache__
venv
.venv

# Rust ignore
target
Rust/**/*.exe
Rust/**/*.pdb

# Folders ignore
Flutter/Codemy
Flutter/Fireship
Python/Hash/upload
Python/Insta-Saved/Profiles
Python/Instagram/Profiles

# Misc
vosk-model-*.zip
